<%= flash[:notice] %>
<div class="container">
  <div class="row">
  	<div class="col-xs-3">
      <h1>User info</h1>
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "No_Image.png", size: "100x100" %>
      <h4>name<%= @user.name %></h4>
      <h4>introduction
      <%= @user.introduction %></h4>
      <p>follows<%= link_to "#{@user.follower.count}", followings_path(@user) %></p>
      <p>followers<%= link_to "#{@user.followed.count}", followers_path(@user) %></p>
      <p><% if current_user.following?(@user) %>
        <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST, class: "btn btn-primary"%>
      <% else %>
        <%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "btn btn-success"%>
      <% end %></p>
      <% if @user == current_user %>
      <%= link_to "編集",edit_user_path(@user.id), class: "btn btn-default" %>
      <% else %>
      <%= link_to "編集", user_path(current_user), class: "btn btn-default" %>
      <% end %>

      <h1>New book</h1>
      <%= form_for @book do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <%= f.submit "Create Book", class: "btn btn-default" %>
      <% end %>
    </div>

<div class="col-xs-9">
      <h1>Books</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
            <th><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "No_Image.png", size: "50x50" %></th>
            <th><%=link_to book_path(book.id) do %>
                  <%= book.title %></th>
                <% end %>
            <th><%= book.body %> </th>
          </tr>
          <% end %>
        </tbody>
        </table>
    </div>
  </div>
</div>