<h1>New book</h1>
<%= form_for (@book) do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<%= book.title %>
<%= book.body %>
<% end %>

